<% if admin_logged_in? %>

<p id="notice"><%= notice %></p>

<h1>Listing Advisor Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Team Name</th>
      <th>Team Code</th>
      <th>Pay Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% AdvisorUser.all.each do |advisor_user| %>
      <tr>
        <td><%= advisor_user.username %></td>
        <td><%= advisor_user.first_name %></td>
        <td><%= advisor_user.last_name %></td>
        <td><%= advisor_user.team_name %></td>
        <td><%= advisor_user.team_code %></td>
        <td><%= advisor_user.pay_code %></td>
        <td><%= link_to 'Destroy', advisor_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>School Name</th>
      <th>School Level</th>
      <th>Team Name</th>
      <th>Team Code</th>
      <th>Pay Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% i=1 %>
    <% StudentUser.all.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.school_name %></td>
        <td><%= student.school_level %></td>
        <td><%= student.team_name %></td>
        <td><%= student.team_code %></td>
        <td><%= student.pay_code %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
