<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<% Team.all.each do |team| %>
    <% if team.advisor_users_id == current_user.id %>
        <h3> Students on your team <%= team.team_name %> with team code <%= team.team_code %> </h3>
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>School Name</th>
              <th>School Level</th>
              <th>Team Name</th>
              <th>Team Code</th>
              <th>Pay Code</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% i=1 %>
            <% StudentUser.all.each do |student| %>
              <% if student.team_code==team.team_code %>
                <tr>
                  <td><%= student.first_name %></td>
                  <td><%= student.last_name %></td>
                  <td><%= student.school_name %></td>
                  <td><%= student.school_level %></td>
                  <td><%= student.team_name %></td>
                  <td><%= student.team_code %></td>
                  <td><%= student.pay_code %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <br>
<% end %>
<% end %>

